.update-asset-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.update-asset-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.update-asset-container .input-group {
    margin-bottom: 15px;
}

.update-asset-container .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.update-asset-container .input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-asset-container .input-group p.erro {
    color: red;
    margin-top: 5px;
}

